.header {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  backdrop-filter: blur(10px);
}

.ul-navbar {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2%;
  gap: 1rem;
}
.image-link{
  height: 100%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li-navbar-item {
  list-style-type: none;
  border-bottom: 2px solid transparent;
  transition: .5s;
  padding-bottom: 5px;

}
.li-navbar-item a {
  text-decoration: none;
  color: white;
  font-family: "Lexend-Bold";
  transition: .5s;
}

.li-navbar-item:hover{
  border-bottom: 2px solid purple;
  transition: .5s;
}

.li-navbar-item:hover a{
  filter: drop-shadow(0 0 10px rgb(103, 0, 96));
  color: var(--gy-magenta) ;
  transition: .5s;

}

.header-logo {
  height: 50%;
  padding-left: 2%;
}

@media screen and (max-width: 800px) {
  .ul-navbar {
    display: none;
  }
  .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
